#grid-container{
    display: grid;
    width: 500px;
    height: 500px;
    margin: 30px auto;
    border-radius: 5px;
}

body{
    font-family: "Karla", sans-serif;
    text-align: center;
    background-color: #a0cff8
}

h1{
    font-size: 80px;
    margin: 25px;
    color: #ea5c5a;
    text-shadow: 2px 2px white;
}

.grid-cell{
    background-color: white;
}

button{
    padding: 10px;
    color: white;
    font-size: 25px;
    background-color: #ea5c5a;
    
    margin: 5px;
    border-radius: 10px;
}